html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


/*===========HEADER START============*/

header {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:url("https://mdbootstrap.com/img/Photos/Others/background.jpg");
      opacity: 0.8;
      z-index: 1;
}


/*This lets the text written  to come above the video*/
header .container {
  position: relative;
  z-index: 2;
}

header video {
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
}


/*======NAVBAR=========*/

.navbar{
    font-weight: 500;
    z-index: 110;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}



.navbar .navbar-brand
{
    color:antiquewhite;
}

.navbar .navbar-brand:hover {
    color:black;
    transition: all 1s;
}


.navbar .container .navbar-nav > li > a{
    color:antiquewhite;
}


.navbar .container .navbar-nav > li > a:hover {
    color:black;
    transition: all 1s;
}


/*======SOCIAL ICONS TO APPEAR IN ROW EVEN AFTER COLLAPSING====*/
.navbar .nav-flex-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; 
}

/*====Spacing between the social icons=====*/
.navbar .nav-flex-icons li a
{
    padding-right: 15px;
}


/*NAVBAR BACKGROUND COLOR FOR LESS THAN 991PX WIDTH SCREEN*/
@media (max-width: 991px) {
    .navbar {
        background-color: #563e91 !important;
    }
}



.hr-light {
    border-top: 1px solid #fff;
}

.btn-outline-white
{
    border: 1px solid;
    border-radius: 50px;
    color: #fff !important;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active, .btn-outline-white:active:focus, .btn-outline-white.active {
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff !important;
    transition: all 1s;
}

header{
    margin-bottom: 20px;
}


/*========HEADER END===========*/


/*For general in section */
section{
    margin: 20px 0;
    padding: 20px 0;
}

.section-title{
    padding: 20px 0;
}
section p{
    color: dimgrey;
}

img{ 
    padding: 20px 0;
    width:100%;
}


h3, h4{
    padding:10px 0;
}



.section2{
    background-color:#eee; 
}

.section2 a {
   padding: 5px 20px;     
}

.section2 .btn{
    background-color:purple;
    border: 1px solid;
    border-radius: 5px;
    color: #fff !important;
}


